/*App.js styles*/
.App{
  font-family: 'Josefin Sans', sans-serif;
}

#background-video{
    height: 110%;
    width:auto;
    opacity:.8;
    position: fixed;
    z-index:-1;
}
h1{
  color:white;
  text-shadow: 1px 1px 2px #000000;
  text-align:center;
  margin-bottom:35px;
}

h2{
  color:white;
  text-shadow: 1px 1px 10px #000000;
  text-align:center;
  margin-bottom:35px;
}

h3{
  color:white;
  text-shadow: 1px 1px 10px #000000;
  text-align:center;
  margin-bottom:35px;
}
/*NavBar styles*/
.navbar-default{
  background-image:none;
  background-color:#e6e6e6;
  border-color:#e6e6e6;
  border-left:transparent;
  border-right:transparent;
}
.glyphicon{
  margin-right:6px;
}

/*Map styles*/
.mapContainer{
margin-top:10px;
border:solid 3px ;
border-style: ridge;
}

/*Challenges Styles*/
#challengesSection{
  display:inline-block;
  width:49%;
  float:right;
}
#challengesTitle{
  color:white;
  margin-left:10px;
}

@media (min-width:961px){
  #challengesTitle{
    color:grey;
    margin-left:10px;
    /*text-shadow: 0.25px 0.25px 0.5px #000000;*/
  }
}
.activityList{
  width:100%;
  height:370px;
  overflow:hidden;
  overflow-y:scroll;
  display:inline-block;
}
.activity{
  background-color:#e6e6e6;
  opacity:0.55;
  border:solid 0.8px;
  margin:10px;
}
.activityTitle{
  background-color: transparent;
  border:none;
  color:#0000b3;
}
.activityTitle:hover{
  color:#acbcc9;
}


/*Modal Styles*/
@media (min-width:961px){
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
}
.modal-backdrop
{
    opacity:0.5 !important;
}
#locationIcon{
  margin:10px;
}
.modal-header{
  background-color: #a3c8db;
}
.modal-title{
  color:white;
  font-family: 'Josefin Sans', sans-serif;
}
.modal-footer{
  background-color:#ffeee6;
}
.modal2{
  text-align: center;
}

#modalAddress{
  float:left;
  text-align: left;
  width:50%;
}
#closeButton{
  background-color: transparent;
  border: solid 2px black;
  width:100px;
}
#completeButton{
  background-color: transparent;
  border: solid 2px #2cba7f;
  color:#2cba7f;
  width:140px;
  margin-right:20px;
}

/*login form css*/
.input.form-control{
  width: 100%;
}

@media (min-width:961px){
  .loginForm{
    width:40%;
  }
}

#submitMessage{
  color:white;
  text-shadow: 1px 1px 2px #000000;
}
